
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li>Group</li>
            <li ng-repeat="group in groups" ng-class="configname == group.name ? 'active' : ''">
                <a ng-click="setGroup(group)" href="">
                    <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> {{group.name}}

                </a>
            </li>
        </ul>
        <!--
            <ul class="nav nav-sidebar">
              <input type="text" class="form-control" id="name" />
              <li><a href="#">Add Group</a></li>
            </ul>
        -->
    </div>
    <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
        <div ng-if="configname != ''">
            <h1>Software: {{configname}}</h1>


            <form>
                <div class="tab-content">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Target Software Version</label>
                        <input type="tel" title="Value provided by software vendor" class="form-control" id="exampleInputEmail1" ng-model="software.expected_version" aria-describedby="emailHelp" placeholder="tixs_1...">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Download URL</label>
                        <input type="tel"  title="URL has to be accessible from TIxS device mobile network!" class="form-control" id="exampleInputEmail1"  ng-model="software.url" aria-describedby="emailHelp" placeholder="https://...">
                    </div>

                    <button type="submit" class="btn btn-primary" ng-click="putSoftware()" title="Will be pushed to devices on next device startup">Save</button>

                </div>


            </form>
        </div>

    </div>
</div>